@using Brickwell.Infrastructure
@model ProductDetailsViewModel
@{
    ViewData["Title"] = Model.Product.name;
}



<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 rounded" src="@Model.Product.img_link" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">@Model.Product.category</div>
                <h1 class="display-5 fw-bolder">@Model.Product.name</h1>
                <div class="fs-5 mb-5">
                    <span>$@Model.Product.price</span>
                </div>
                <!-- Product description (scrollable area) -->
                <div class="product-description mt-3" style="max-height: 100px; overflow-y: auto;">
                    <p>
                        <!-- Add your product description here -->
                        @Model.Product.description
                    </p>
                </div>
                <div class="d-flex">
                    <form id="@Model.Product.product_ID" asp-controller="Home" asp-action="AddToCart" method="post">
                        <input type="hidden" name="product_ID" value="@Model.Product.product_ID" />
                        <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                        <input class="form-control text-center me-3" id="inputQuantity" name="quantity" type="number" value="1" style="max-width: 3rem" />
                        <br/>
                        <br/>
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">You may also enjoy:</h2>
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center"> 
            @foreach (Product product in Model.Recommendations) 
            {  
                <partial name="ProductCard" model="product"/> 
            } 
        </div> 
    </div>
</section>
